@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*{
    box-sizing: border-box;
    
}

h1{
    padding: 0;
    margin: 0;
}

:root{
    --primary-color:#1a1a2e;
    --accent-color:#212121;
    --accent-second:#0f3460;
    --warn:#e94560;
}

body{
    padding: 0;
    margin: 0;
    background-color: #3b3b3b;
    font-family: 'Roboto', sans-serif;;

}

/*navbar*/

#navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 4rem;
    background-color: var(--accent-color);
    color: white;
    box-shadow: 0 0 2px #121212;

    display: flex;
    align-items: center; 

}

#title{
    padding-left: 30px;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 200;
}

#title-in{
    color: var(--warn);
    font-weight: 300;
    
}

#navbar > #nav-right{
    margin-left: auto;
    display: flex;
    padding-right: 1rem;
}

#nav-right > #sign-in{
    background-color: var(--warn);
    border-radius: 15px;
    transition: 0.1s;
}

#nav-right > #sign-in:hover{
    border-radius: 10px;
}

#nav-right > #add-book{
    margin-right: 20px;
    width: 40px;
    height: 40px;
    background-color: var(--warn);
    font-size: 30px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    transition: 0.1s;
}

#nav-right > #add-book:hover{
    border-radius: 12px;
}

#content{
    height: fit-content;
    width: 70%;
    margin: 7rem auto;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    

}

#pages-read{
    
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: #515151;
    width:70%;
    height: 100px;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    border-radius: 10px;
    height: 10rem;
    box-shadow: 4px 4px 2px #313131;
    border: solid 2px transparent;
    transition: border 0.2s;
    margin-right: 20px;
    
}

.container:hover{
    border: 2px solid var(--warn);
    
}

.left{
    flex: 2;
}

.right{
    flex: 1;
    display: flex;
}


.container  h1{
    color: white;
    margin: 10px 0 0 10px;
    text-transform: capitalize;
}

.container > .left > p{
    color: #cfcfcf;
    margin: 10px 0 0 10px;
}

/*buttons*/
.primary-btn{
    display: inline;
    background-color: var(--warn);
    padding: 0.5rem 1.1rem;
    margin: auto;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
    cursor: pointer;

}

.round-btn{
    background-color: var(--warn);
    font-size: 2.0rem;
    padding: 2px 2rem;
    border-radius: 100px;
    margin: auto;
    cursor: pointer;
}



/*form*/
#pop-form{

    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);

}

#pop-form > form{
    width: 25%;
    background-color: #3b3b3b;
    border: 5px solid #111;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
}

#pop-form p{
    display: inline;
    font-size: 1.8rem;
    color: white;
    padding-left: 4px;
}   

#close-button{
    display: inline;
    margin-left: auto;
    margin-right: 5px;
    margin-top: 5px;
    font-size: 1.5rem;
    

    display: flex;
    align-items: center;
    justify-content: center;

    
}

#pop-form  #top-nav-bar{
    display: flex;
    margin-bottom: 20px;

}

#pop-form label{
    color: white;
    font-size: 1.2rem;
    margin-left:10px;
}

#pop-form .pop-inp{
    
    display: flex;
    margin: 2px 0;
}


#pop-form .pop-inp input{
    
    margin-left: auto;
    margin-right: 10px;
    background-color: #757575;
    border:2px solid #616161;
    box-shadow: inset 0 0 4px #616161;
    border-radius: 4px;
    outline: none;
    transition: all 0.2s;
    color: white;
    padding-left: 4px;
}


#pop-form .pop-inp input:hover{
    border: 2px solid var(--warn);
}

#form-submit{
    margin: 10px 30%;
    height: 40px;
    background-color: var(--warn);
    border: none;
    color: white;
    font-size: 1.2rem;
    border-radius: 5px;

}


#close-card{
    background-color: var(--warn);
    color: white;
    margin: 4px;
    position: relative;
    float: right;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}


@media (max-width:720px){
    #nav-right > #add-book{
        display: none;
    }

    #add-book-float{
        margin-right: 20px;
        width: 40px;
        height: 40px;
        background-color: var(--warn);
        font-size: 30px;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 25px;
        transition: 0.1s;
        position: absolute;
        color:white;
        bottom: 10px;
        right: 10px;
    }

    #content{
        width: 90%;
    }
    .container{
        width: 100%;
    }

}

